# 强制所有人使用 LF（推荐）
* text eol=lf

# 明确常见文件
*.py     text eol=lf
*.md     text eol=lf
*.toml   text eol=lf
*.lock   text eol=lf
*.json   text eol=lf
*.yml    text eol=lf
*.yaml  text eol=lf
*.ts     text eol=lf
*.vue    text eol=lf
